* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clear {
  clear: both;
  /* Lỗi không bo hết của thẻ float */
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-third {
  width: calc(100% / 3);
}
.col-half {
  width: 50%;
}
.col-full {
  width: 100%;
}
.text-center {
  text-align: center !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.btn {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
  border: none;
}
.btn:hover {
  color: #000;
  background-color: #757575;
  cursor: pointer;
}
.pull-right {
  float: right !important;
}
#header {
  height: 46px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#header .btn-search {
  float: right;
  display: block;
}
#header .btn-search .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
  padding: 0 21px;
}

#header .btn-search:hover {
  background-color: #f44336;
  cursor: pointer;
}

#nav {
  display: inline-block;
}
#nav li {
  display: inline-block;
  text-decoration: none;
  position: relative;
}
#nav > li > a {
  color: #fff;
}
#nav > li > a {
  text-decoration: none;
  line-height: 46px;
  padding: 12px 24px;
  text-transform: uppercase;
}
#nav > li:hover > a {
  background-color: #fff;
  color: black;
  /* ******************* */
}

#nav .navicon {
  font-size: 14px;
}

#nav .subnav {
  position: absolute;
  background-color: #fff;
  top: 100%;
  display: none;
}

#nav .subnav li {
  width: 150px;
  padding: 10px;
}

#nav li:last-child:hover .subnav {
  display: block;
}
#nav .subnav li:hover {
  background-color: #ccc;
}

#nav .subnav li a {
  text-decoration: none;
  color: #000;
}
#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url(/link/slide/slide1.jpg) top center/cover no-repeat;
}
#slider .text-content {
  position: absolute;
  color: #fff;
  width: 100%;
  bottom: 47px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

#slider .text-description {
  margin-top: 25px;
  font-size: 15px;
}
/* #slider .text-heading{
    margin-bottom: 25px;
    /* font-size: 15px; */

#content .content-section {
  width: 800px;
  margin: 0 auto;
  padding: 64px 16px 112px;
}
#content .content-section .section-heading {
  text-align: center;
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 24px;
}
#content .content-section .section-sub-heading {
  text-align: center;
  margin: 15px 0px;
  opacity: 0.6;
  font-style: italic;
  font-size: 15px;
}
#content .content-section .about-text {
  text-align: justify;
  line-height: 1.4;
  font-size: 15px;
  margin: 15px 0px;
}
#content .member-list {
  margin-top: 48px;
}
#content .member-name {
  font-size: 15px;
}
#content .member-img {
  width: 154px;
  margin-top: 15px;
  border-radius: 4px;
}
.text-while {
  color: #fff !important;
}
/* tour-section */
.tour-section {
  background-color: #000;
}
.tickets-list {
  background-color: #fff;
  margin-top: 40px;
  list-style: none;
}
.tickets-list li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
  color: #fff;
  background-color: #f44336;
  padding: 3px 4px;
  margin-left: 16px;
}
.tickets-list .quantity {
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  float: right;
  margin-top: -3px;
}
/* Place */
.places-list {
  margin-top: 32px;
}

.place-img {
  width: 100%;
  display: block;
}
.place-img:hover {
  opacity: 0.6;
}
.place-body {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}
.place-heading {
  font-size: 15px;
  font-weight: 600;
}
.place-time {
  margin-top: 15px;
  color: #757575;
}
.place-desc {
  margin-top: 15px;
  line-height: 1.4;
}

.modal-heading-icon {
  margin-right: 16px;
}
.modal {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  background: (0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal.open {
  display: flex;
}
.modal-container {
  background-color: #fff;
  width: 900px;
  max-width: calc(100%-32px);
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.5s;
}
.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}
.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  opacity: 0.8;
}
.modal-close:hover {
  opacity: 1;
}
.modal-body {
  padding: 16px;
}
.modal-lable {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}
.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}
#buy-tickets {
  background-color: #009688;
  border: none;
  color: #fff;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px;
  cursor: pointer;
}
#buy-tickets:hover {
  opacity: 0.9;
}
.modal-footer {
  text-align: right;
  padding: 16px;
}
.modal a {
  color: #2196f3;
}
.contact-content {
  margin-top: 48px;
}
.contact-info {
  font-size: 18px;
  line-height: 1.5;
}
.contact-info i {
  width: 30px;
  display: inline-block;
}
.contact-form {
  font-size: 15px;
}
.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.map-section img {
  width: 100%;
}
#footer {
  padding: 64px 16px;
  text-align: center;
}
#footer .socials-list {
  font-size: 24px;
}
#footer .socials-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
#footer .copyright a:hover,
#footer .socials-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}
#footer .copyright {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}

@keyframes modalFadeIn {
  from {
    transform: translateY(-140px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
